<app-hud [gameOver]="gameOver" [score]="score" [hiScore]="hiScore" [hungry]="hungry"></app-hud>
<app-preview-screen></app-preview-screen>

<app-welcome-screen *ngIf="!(apples$ | async)?.length"></app-welcome-screen>


<ng-container *ngIf="(apples$ | async) as apples">
    <ng-container *ngIf="apples?.length">
        <app-food *ngFor="let food of apples" [food]="food"></app-food>
        <app-snake [apples]="apples" [hungry]="hungry" (eat)="onEat($event)"></app-snake>
        <!-- <app-snake [currentLocation]="testLocation" [apples]="apples" (eat)="onEat($event)"></app-snake> -->
    </ng-container>
</ng-container>