:host {
    width: 3000px;
    height: 2000px;
    position: absolute;
    display: block;
    text-align: center;
    overflow: hidden;
    // background-image: url(../../assets/bg.jpeg);
    background-image: linear-gradient(180deg, rgb(137, 42, 150), rgb(17, 2, 19));
    &.glitch {
        background-image: url(../../assets/glitch.webp);
    }
}
